* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to right, #9073c3, #5875b7);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-items: center;
}

.container-1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  align-self: center;
  min-width: 230px;
  max-width: 230px;
  height: 450px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.199);
  margin: 30px;
}
.container-2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  min-width: 230px;
  max-width: 230px;
  height: 550px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.199);
  margin: 30px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}
h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 2.5em;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  color: black;
  margin-top: 5px;
  margin-bottom: -15px;
  font-weight: normal;
}

h2 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: white;
  text-shadow: rgb(0, 0, 0);
  margin-top: 20px;
  margin-bottom: 5px;
  font-weight: 700;
  text-shadow: 1px 2px #87839e;
}
h3 {
  height: 25%;
  width: 80%;
  text-align: center;
  margin-left: 10px;
  margin-bottom: -30px;
  font-size: 15px;
  font-weight: normal;
}
ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  line-height: 40px;
  height: 90px;
  width: 80%;
  margin-bottom: 10px;
}
li {
  display: flex;
  justify-content: center;
  font-size: 15px;
}
.border {
  border-top: rgba(0, 0, 0, 0.178) 1px solid;
  border-bottom: rgba(0, 0, 0, 0.178) 1px solid;
}

.border-top {
  border-top: rgba(0, 0, 0, 0.178) 1px solid;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  height: 10%;
  width: 80%;
  background: #f9f947;
  color: black;
  border-radius: 5px;
  margin-bottom: 10px;
}
